.wp-block-audio figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-audio figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-audio {
    margin: 0 0 1em
}

.wp-block-code {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo, Consolas, monaco, monospace;
    padding: .8em 1em
}

.wp-block-embed figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-embed figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-embed {
    margin: 0 0 1em
}

.blocks-gallery-caption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .blocks-gallery-caption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-image figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image {
    margin: 0 0 1em
}

.wp-block-pullquote {
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 1.75em;
    color: currentColor
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    color: currentColor;
    text-transform: uppercase;
    font-size: .8125em;
    font-style: normal
}

.wp-block-quote {
    border-left: .25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em
}

.wp-block-quote cite,
.wp-block-quote footer {
    color: currentColor;
    font-size: .8125em;
    position: relative;
    font-style: normal
}

.wp-block-quote.has-text-align-right {
    border-left: none;
    border-right: .25em solid;
    padding-left: 0;
    padding-right: 1em
}

.wp-block-quote.has-text-align-center {
    border: none;
    padding-left: 0
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
    border: none
}

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

.wp-block-search__button {
    border: 1px solid #ccc;
    padding: .375em .625em
}

:where(.wp-block-group.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-separator.has-css-opacity {
    opacity: .4
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto
}

.wp-block-separator.has-alpha-channel-opacity {
    opacity: 1
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 100px
}

.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 1px
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 2px
}

.wp-block-table {
    margin: "0 0 1em 0"
}

.wp-block-table thead {
    border-bottom: 3px solid
}

.wp-block-table tfoot {
    border-top: 3px solid
}

.wp-block-table td,
.wp-block-table th {
    word-break: normal
}

.wp-block-table figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-table figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-video figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video {
    margin: 0 0 1em
}

.wp-block-template-part.has-background {
    padding: 1.25em 2.375em;
    margin-top: 0;
    margin-bottom: 0
}

body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
    --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
}

:where(.is-layout-flex) {
    gap: 0.5em;
}

body .is-layout-flow>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-flow>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-flow>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-constrained>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-constrained>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

body .is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

body .is-layout-flex>* {
    margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    color: inherit;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.wp-block-pullquote {
    font-size: 1.5em;
    line-height: 1.6;
}

.elementor-207 .elementor-element.elementor-element-5ac5bb3>.elementor-background-overlay {
    background-color: #303336;
    opacity: 1;
}

.elementor-207 .elementor-element.elementor-element-5ac5bb3 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-207 .elementor-element.elementor-element-5ac5bb3 {
    color: #FFFFFF;
}

.elementor-207 .elementor-element.elementor-element-214672d {
    text-align: center;
}

.elementor-207 .elementor-element.elementor-element-214672d .elementor-heading-title {
    font-size: 73px;
}

.elementor-207 .elementor-element.elementor-element-630199f {
    color: #FFFFFF;
}

.elementor-207 .elementor-element.elementor-element-c5c5884 .elementor-button {
    color: #1379b4;
    background-color: #02010100;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.elementor-207 .elementor-element.elementor-element-c5c5884 .elementor-button:hover,
.elementor-207 .elementor-element.elementor-element-c5c5884 .elementor-button:focus {
    background-color: #000000;
}

.elementor-207 .elementor-element.elementor-element-bc5434e.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-207 .elementor-element.elementor-element-6ec0988 .elementor-button:hover,
.elementor-207 .elementor-element.elementor-element-6ec0988 .elementor-button:focus {
    background-color: #00FFA9;
}

.elementor-bc-flex-widget .elementor-207 .elementor-element.elementor-element-d921cc7.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-207 .elementor-element.elementor-element-d921cc7.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-207 .elementor-element.elementor-element-9dcad24.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-207 .elementor-element.elementor-element-9dcad24.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-207 .elementor-element.elementor-element-3ae6c9a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-207 .elementor-element.elementor-element-3ae6c9a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-207 .elementor-element.elementor-element-9ef0c31 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-207 .elementor-element.elementor-element-9ef0c31 .elementor-widget-container {
    text-align: right;
}

.elementor-207 .elementor-element.elementor-element-9ef0c31 .elementor-social-icon {
    background-color: rgba(1, 2, 1, 0);
}

.elementor-207 .elementor-element.elementor-element-9ef0c31 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-207 .elementor-element.elementor-element-9ef0c31 .elementor-social-icon svg {
    fill: #FFFFFF;
}

body:not(.rtl) .elementor-207 .elementor-element.elementor-element-52d3891 {
    right: 10px;
}

body.rtl .elementor-207 .elementor-element.elementor-element-52d3891 {
    left: 10px;
}

.elementor-207 .elementor-element.elementor-element-52d3891 {
    bottom: 10px;
    z-index: 1000;
}

@media(max-width:767px) {
    .elementor-207 .elementor-element.elementor-element-83380dd {
        text-align: left;
    }

    .elementor-207 .elementor-element.elementor-element-83380dd img {
        width: 65%;
    }

    .elementor-207 .elementor-element.elementor-element-9ef0c31 .elementor-widget-container {
        text-align: left;
    }
}

@media(min-width:768px) {
    .elementor-207 .elementor-element.elementor-element-19932d5 {
        width: 49.742%;
    }

    .elementor-207 .elementor-element.elementor-element-bc5434e {
        width: 40.733%;
    }

    .elementor-207 .elementor-element.elementor-element-d921cc7 {
        width: 43%;
    }

    .elementor-207 .elementor-element.elementor-element-9dcad24 {
        width: 13.332%;
    }

    .elementor-207 .elementor-element.elementor-element-3ae6c9a {
        width: 43%;
    }
}

.elementor-kit-39 {
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-57edec7c: #6EC1E4;
    --e-global-color-1d249fd3: #4054B2;
    --e-global-color-47c504f4: #23A455;
    --e-global-color-4004c733: #000;
    --e-global-color-7a4cc2c3: #FFF;
    --e-global-color-1246d764: #020101;
    --e-global-color-253bae0c: #1E96FC;
    --e-global-color-7c505275: #E7F70F;
    --e-global-color-6043eb22: #202021;
    --e-global-color-5b58af90: #696969;
    --e-global-color-4229c3a: #29F2CB;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: #212529;
    font-size: 16px;
}

.elementor-kit-39 p {
    margin-bottom: 1.5em;
}

.elementor-kit-39 button,
.elementor-kit-39 input[type="button"],
.elementor-kit-39 input[type="submit"],
.elementor-kit-39 .elementor-button {
    text-transform: none;
    color: #202021;
    background-color: #E7F70F;
    border-radius: 3px 3px 3px 3px;
}

.elementor-kit-39 button:hover,
.elementor-kit-39 button:focus,
.elementor-kit-39 input[type="button"]:hover,
.elementor-kit-39 input[type="button"]:focus,
.elementor-kit-39 input[type="submit"]:hover,
.elementor-kit-39 input[type="submit"]:focus,
.elementor-kit-39 .elementor-button:hover,
.elementor-kit-39 .elementor-button:focus {
    background-color: #1E96FC;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1170px;
}

.e-con {
    --container-max-width: 1170px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-39 e-page-transition {
    background-color: #FFBC7D;
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}

.elementor-37 .elementor-element.elementor-element-f3be4af>.elementor-container {
    max-width: 1190px;
    min-height: 90vh;
}

.elementor-37 .elementor-element.elementor-element-f3be4af:not(.elementor-motion-effects-element-type-background),
.elementor-37 .elementor-element.elementor-element-f3be4af>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("../images/cloud-tech-bg-3.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-37 .elementor-element.elementor-element-f3be4af>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-f3be4af {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 020px 0px;
}

.elementor-bc-flex-widget .elementor-37 .elementor-element.elementor-element-76f1e83.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-76f1e83.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-40e7bf8 {
    padding: 0px 0px 40px 0px;
}

.elementor-bc-flex-widget .elementor-37 .elementor-element.elementor-element-8b097f7.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-8b097f7.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-21aaafd .elementor-heading-title {
    color: #FFFFFF;
    font-size: 106px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.49);
}

.elementor-37 .elementor-element.elementor-element-d4b944b {
    color: #FFFFFF;
    font-size: 1.3em;
}

.elementor-37 .elementor-element.elementor-element-d4b944b>.elementor-widget-container {
    padding: 0px 40px 0px 0px;
}

.elementor-bc-flex-widget .elementor-37 .elementor-element.elementor-element-dfef14e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-dfef14e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-328c779 .elementor-button {
    font-weight: 700;
    background-color: #3caaee;
}

.elementor-37 .elementor-element.elementor-element-328c779 .elementor-button:hover,
.elementor-37 .elementor-element.elementor-element-328c779 .elementor-button:focus {
    background-color: #e0d31e;
    cursor: pointer;
}

.elementor-37 .elementor-element.elementor-element-36279e7 .elementor-button {
    font-weight: 700;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #00000063;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-c1eeabd:not(.elementor-motion-effects-element-type-background),
.elementor-37 .elementor-element.elementor-element-c1eeabd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(160deg, #313131 0%, #000000 100%);
}

.elementor-37 .elementor-element.elementor-element-c1eeabd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-37 .elementor-element.elementor-element-c1eeabd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-c1eeabd .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-432b79f {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.6em;
    letter-spacing: 0.2px;
}

.elementor-37 .elementor-element.elementor-element-e85d54c:not(.elementor-motion-effects-element-type-background),
.elementor-37 .elementor-element.elementor-element-e85d54c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-e85d54c>.elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-e85d54c {
    border-style: solid;
    box-shadow: 0px 2px 14px 3px rgba(133.5, 133.5, 133.5, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-e85d54c,
.elementor-37 .elementor-element.elementor-element-e85d54c>.elementor-background-overlay {
    border-radius: 0px 0px 1px 0px;
}

.elementor-37 .elementor-element.elementor-element-3a32bf17 {
    --e-image-carousel-slides-to-show: 8;
}

.elementor-37 .elementor-element.elementor-element-3a32bf17 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-3a32bf17>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-37 .elementor-element.elementor-element-a0559fe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 060px 0px 030px 0px;
}

.elementor-37 .elementor-element.elementor-element-a0559fe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-2f90ff4 {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-2f90ff4 .elementor-heading-title {
    color: #000000;
    font-size: 3em;
    font-weight: 500;
}

.elementor-37 .elementor-element.elementor-element-2f90ff4>.elementor-widget-container {
    padding: 0em 2em 0em 02em;
}

.elementor-37 .elementor-element.elementor-element-6dfcfad {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-6f3c955 {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-e94b3ee img {
    width: 28%;
}

.elementor-37 .elementor-element.elementor-element-e94b3ee>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-37 .elementor-element.elementor-element-81d40f5.elementor-view-stacked .elementor-icon {
    background-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-81d40f5.elementor-view-framed .elementor-icon,
.elementor-37 .elementor-element.elementor-element-81d40f5.elementor-view-default .elementor-icon {
    fill: #1E96FC;
    color: #1E96FC;
    border-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-81d40f5 {
    --icon-box-icon-margin: 15px;
}

.elementor-37 .elementor-element.elementor-element-81d40f5 .elementor-icon-box-title {
    color: #000000;
}

.elementor-37 .elementor-element.elementor-element-c0b9a78 img {
    width: 28%;
}

.elementor-37 .elementor-element.elementor-element-c0b9a78>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-37 .elementor-element.elementor-element-4447ef2.elementor-view-stacked .elementor-icon {
    background-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-4447ef2.elementor-view-framed .elementor-icon,
.elementor-37 .elementor-element.elementor-element-4447ef2.elementor-view-default .elementor-icon {
    fill: #1E96FC;
    color: #1E96FC;
    border-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-4447ef2 {
    --icon-box-icon-margin: 15px;
}

.elementor-37 .elementor-element.elementor-element-4447ef2 .elementor-icon-box-title {
    color: #000000;
}

.elementor-37 .elementor-element.elementor-element-4e75a24 img {
    width: 28%;
}

.elementor-37 .elementor-element.elementor-element-4e75a24>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-37 .elementor-element.elementor-element-edf4d10.elementor-view-stacked .elementor-icon {
    background-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-edf4d10.elementor-view-framed .elementor-icon,
.elementor-37 .elementor-element.elementor-element-edf4d10.elementor-view-default .elementor-icon {
    fill: #1E96FC;
    color: #1E96FC;
    border-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-edf4d10 {
    --icon-box-icon-margin: 15px;
}

.elementor-37 .elementor-element.elementor-element-edf4d10 .elementor-icon-box-title {
    color: #000000;
}

.elementor-37 .elementor-element.elementor-element-f6aa9ea {
    padding: 20px 0px 90px 0px;
}

.elementor-37 .elementor-element.elementor-element-d46b1f0 img {
    width: 28%;
}

.elementor-37 .elementor-element.elementor-element-d46b1f0>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-37 .elementor-element.elementor-element-e5ec63a.elementor-view-stacked .elementor-icon {
    background-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-e5ec63a.elementor-view-framed .elementor-icon,
.elementor-37 .elementor-element.elementor-element-e5ec63a.elementor-view-default .elementor-icon {
    fill: #1E96FC;
    color: #1E96FC;
    border-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-e5ec63a {
    --icon-box-icon-margin: 15px;
}

.elementor-37 .elementor-element.elementor-element-e5ec63a .elementor-icon-box-title {
    color: #000000;
}

.elementor-37 .elementor-element.elementor-element-684bb35 img {
    width: 28%;
}

.elementor-37 .elementor-element.elementor-element-684bb35>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-37 .elementor-element.elementor-element-da12d95.elementor-view-stacked .elementor-icon {
    background-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-da12d95.elementor-view-framed .elementor-icon,
.elementor-37 .elementor-element.elementor-element-da12d95.elementor-view-default .elementor-icon {
    fill: #1E96FC;
    color: #1E96FC;
    border-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-da12d95 {
    --icon-box-icon-margin: 15px;
}

.elementor-37 .elementor-element.elementor-element-da12d95 .elementor-icon-box-title {
    color: #000000;
}

.elementor-37 .elementor-element.elementor-element-b9a9aba img {
    width: 28%;
}

.elementor-37 .elementor-element.elementor-element-b9a9aba>.elementor-widget-container {
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-37 .elementor-element.elementor-element-be269a1.elementor-view-stacked .elementor-icon {
    background-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-be269a1.elementor-view-framed .elementor-icon,
.elementor-37 .elementor-element.elementor-element-be269a1.elementor-view-default .elementor-icon {
    fill: #1E96FC;
    color: #1E96FC;
    border-color: #1E96FC;
}

.elementor-37 .elementor-element.elementor-element-be269a1 {
    --icon-box-icon-margin: 15px;
}

.elementor-37 .elementor-element.elementor-element-be269a1 .elementor-icon-box-title {
    color: #000000;
}

.elementor-37 .elementor-element.elementor-element-274a3b6 {
    padding: 0px 0px 40px 0px;
}

.elementor-37 .elementor-element.elementor-element-3061d66 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--e-global-color-253bae0c);
}

.elementor-37 .elementor-element.elementor-element-640b020:not(.elementor-motion-effects-element-type-background),
.elementor-37 .elementor-element.elementor-element-640b020>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000 0%, #545454 100%);
}

.elementor-37 .elementor-element.elementor-element-640b020>.elementor-background-overlay {
    background-image: url("../images/blocks-1600x650-1.jpg");
    background-size: cover;
    opacity: 0.45;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-640b020 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 90px 0px;
}

.elementor-37 .elementor-element.elementor-element-4910697 {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-4910697 .elementor-heading-title {
    color: #E7F70F;
}

.elementor-37 .elementor-element.elementor-element-c4b23aa img {
    width: 90%;
}

.elementor-37 .elementor-element.elementor-element-13e10ec {
    padding: 50px 50px 50px 50px;
}

.elementor-37 .elementor-element.elementor-element-cd7cd03 {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-6bd7041 {
    padding: 10px 0px 50px 0px;
}

.elementor-37 .elementor-element.elementor-element-02f7e2d>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37 .elementor-element.elementor-element-02f7e2d>.elementor-element-populated,
.elementor-37 .elementor-element.elementor-element-02f7e2d>.elementor-element-populated>.elementor-background-overlay,
.elementor-37 .elementor-element.elementor-element-02f7e2d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37 .elementor-element.elementor-element-02f7e2d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-02f7e2d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-8692751.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-37 .elementor-element.elementor-element-8692751.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-8692751.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-37 .elementor-element.elementor-element-8692751 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%;
}

.elementor-37 .elementor-element.elementor-element-8692751 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-37 .elementor-element.elementor-element-8692751 .elementor-image-box-title {
    font-size: 30px;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-c33b768>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37 .elementor-element.elementor-element-c33b768>.elementor-element-populated,
.elementor-37 .elementor-element.elementor-element-c33b768>.elementor-element-populated>.elementor-background-overlay,
.elementor-37 .elementor-element.elementor-element-c33b768>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37 .elementor-element.elementor-element-c33b768>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-c33b768>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-b649bfe.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-37 .elementor-element.elementor-element-b649bfe.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-b649bfe.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-37 .elementor-element.elementor-element-b649bfe .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-37 .elementor-element.elementor-element-b649bfe .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-37 .elementor-element.elementor-element-b649bfe .elementor-image-box-title {
    font-size: 30px;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-c6da24a>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37 .elementor-element.elementor-element-c6da24a>.elementor-element-populated,
.elementor-37 .elementor-element.elementor-element-c6da24a>.elementor-element-populated>.elementor-background-overlay,
.elementor-37 .elementor-element.elementor-element-c6da24a>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37 .elementor-element.elementor-element-c6da24a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-c6da24a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-d30d6e6.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-37 .elementor-element.elementor-element-d30d6e6.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-d30d6e6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-37 .elementor-element.elementor-element-d30d6e6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 34%;
}

.elementor-37 .elementor-element.elementor-element-d30d6e6 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-37 .elementor-element.elementor-element-d30d6e6 .elementor-image-box-title {
    font-size: 30px;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-bea3c15>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37 .elementor-element.elementor-element-bea3c15>.elementor-element-populated,
.elementor-37 .elementor-element.elementor-element-bea3c15>.elementor-element-populated>.elementor-background-overlay,
.elementor-37 .elementor-element.elementor-element-bea3c15>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37 .elementor-element.elementor-element-bea3c15>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-bea3c15>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-11842ef.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-37 .elementor-element.elementor-element-11842ef.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-11842ef.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-37 .elementor-element.elementor-element-11842ef .elementor-image-box-wrapper .elementor-image-box-img {
    width: 34%;
}

.elementor-37 .elementor-element.elementor-element-11842ef .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-37 .elementor-element.elementor-element-11842ef .elementor-image-box-title {
    font-size: 30px;
    font-weight: 400;
}

.elementor-bc-flex-widget .elementor-37 .elementor-element.elementor-element-471885d.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-471885d.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-471885d:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-37 .elementor-element.elementor-element-471885d>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-37 .elementor-element.elementor-element-471885d>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 25px 10px 25px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-37 .elementor-element.elementor-element-471885d>.elementor-element-populated,
.elementor-37 .elementor-element.elementor-element-471885d>.elementor-element-populated>.elementor-background-overlay,
.elementor-37 .elementor-element.elementor-element-471885d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-37 .elementor-element.elementor-element-471885d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-471885d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-abc7c7f.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-37 .elementor-element.elementor-element-abc7c7f.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-abc7c7f.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-37 .elementor-element.elementor-element-abc7c7f .elementor-image-box-wrapper .elementor-image-box-img {
    width: 34%;
}

.elementor-37 .elementor-element.elementor-element-abc7c7f .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-37 .elementor-element.elementor-element-abc7c7f .elementor-image-box-title {
    font-size: 30px;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-ec8f522:not(.elementor-motion-effects-element-type-background),
.elementor-37 .elementor-element.elementor-element-ec8f522>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #202021 0%, #353535 100%);
}

.elementor-37 .elementor-element.elementor-element-ec8f522>.elementor-background-overlay {
    background-image: url("../images/blk-9.jpg");
    background-size: cover;
    opacity: 0.66;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37 .elementor-element.elementor-element-ec8f522 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-37 .elementor-element.elementor-element-ec8f522>.elementor-shape-top .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-ec8f522>.elementor-shape-top svg {
    height: 40px;
}

.elementor-37 .elementor-element.elementor-element-ec8f522>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-ec8f522>.elementor-shape-bottom svg {
    height: 40px;
}

.elementor-37 .elementor-element.elementor-element-2c30f55>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37 .elementor-element.elementor-element-2c30f55 {
    padding: 0px 0px 020px 0px;
}

.elementor-37 .elementor-element.elementor-element-a7c989a .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-fffd8e0 {
    text-align: right;
}

.elementor-37 .elementor-element.elementor-element-fffd8e0 img {
    width: 280px;
}

.elementor-37 .elementor-element.elementor-element-05bb07f {
    text-align: right;
}

.elementor-37 .elementor-element.elementor-element-05bb07f img {
    width: 106px;
}

.elementor-37 .elementor-element.elementor-element-4a2011c {
    padding: 080px 0px 070px 0px;
}

.elementor-37 .elementor-element.elementor-element-434b91c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-848c445 {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-848c445>.elementor-widget-container {
    padding: 0% 10% 0% 010%;
}

.elementor-37 .elementor-element.elementor-element-b3a6749 .lae-posts-carousel .lae-posts-carousel-item {
    padding: 40px;
}

.elementor-37 .elementor-element.elementor-element-54b0d99 .elementor-button {
    padding: 20px 045px 20px 45px;
}

.elementor-37 .elementor-element.elementor-element-54b0d99>.elementor-widget-container {
    margin: 010px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-37 .elementor-element.elementor-element-8b097f7 {
        width: 55.725%;
    }

    .elementor-37 .elementor-element.elementor-element-dfef14e {
        width: 33.427%;
    }

    .elementor-37 .elementor-element.elementor-element-188b7c3 {
        width: 9.955%;
    }

    .elementor-37 .elementor-element.elementor-element-f2ce416 {
        width: 64.927%;
    }

    .elementor-37 .elementor-element.elementor-element-1ebcf45 {
        width: 35.025%;
    }

    .elementor-37 .elementor-element.elementor-element-434b91c {
        width: 100%;
    }
}

@media(min-width:1025px) {

    .elementor-37 .elementor-element.elementor-element-f3be4af:not(.elementor-motion-effects-element-type-background),
    .elementor-37 .elementor-element.elementor-element-f3be4af>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-37 .elementor-element.elementor-element-b3a6749 .lae-posts-carousel .lae-posts-carousel-item {
        padding: 10px;
    }
}

@media(max-width:767px) {
    .elementor-37 .elementor-element.elementor-element-8692751 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-b649bfe .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-d30d6e6 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-11842ef .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-abc7c7f .elementor-image-box-img {
        margin-bottom: 0px;
    }
}

@media(max-width:767px) {
    .elementor-37 .elementor-element.elementor-element-b3a6749 .lae-posts-carousel .lae-posts-carousel-item {
        padding: 10px;
    }
}

/* Start custom CSS for section, class: .elementor-element-f3be4af */
html body.home #site-header {
    background-color: #202021ab !Important;
}

/* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-3a32bf17 */
img.swiper-slide-image {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    height: 100%;
    max-height: 50px;
}

.elementor-37 .elementor-element.elementor-element-3a32bf17 .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

/* End custom CSS */

.rll-youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.rll-youtube-player:focus-within {
    outline: 2px solid currentColor;
    outline-offset: 5px;
}

.rll-youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: 0 0
}

.rll-youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all
}

.rll-youtube-player img:hover {
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}

.rll-youtube-player .play {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url(../images/youtube.png) no-repeat center;
    background-color: transparent !important;
    cursor: pointer;
    border: none;
}

.wp-embed-responsive .wp-has-aspect-ratio .rll-youtube-player {
    position: absolute;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

@media only screen and (max-width:960px) {
    body.home #site-header.transparent-header {
        top: 0 !important
    }
}

body.home #site-header.transparent-header {
    top: 32px
}

li#menu-item-wpml-ls-3-ko {
    z-index: 9999 !important
}

#site-header.transparent-header {
    z-index: 1 !important
}

/* General CSS */
#main #content-wrap,
.separate-layout #main #content-wrap {
    padding-top: 0;
    padding-bottom: 0
}

/* Top Bar CSS */
#top-bar {
    padding: 8px 0 0 0
}

#top-bar-wrap,
.oceanwp-top-bar-sticky {
    background-color: #202021
}

#top-bar-wrap {
    border-color: rgba(241, 241, 241, 0)
}

#top-bar-content a,
#top-bar-social-alt a {
    color: #999999
}

/* Header CSS */
#site-header,
.has-transparent-header .is-sticky #site-header,
.has-vh-transparent .is-sticky #site-header.vertical-header,
#searchform-header-replace {
    background-color: #202021
}

#site-header.has-header-media .overlay-header-media {
    background-color: rgba(0, 0, 0, 0.5)
}

#site-logo #site-logo-inner a img,
#site-header.center-header #site-navigation-wrap .middle-site-logo a img {
    min-width: 194px;
}

#site-navigation-wrap .dropdown-menu>li>a,
.oceanwp-mobile-menu-icon a,
#searchform-header-replace-close {
    color: #ffffff
}

#site-navigation-wrap .dropdown-menu>li>a:hover,
.oceanwp-mobile-menu-icon a:hover,
#searchform-header-replace-close:hover {
    color: rgba(255, 255, 255, 0.7)
}

.dropdown-menu .sub-menu,
#searchform-dropdown,
.current-shop-items-dropdown {
    background-color: #202021
}

.dropdown-menu .sub-menu,
#searchform-dropdown,
.current-shop-items-dropdown {
    border-color: rgba(239, 239, 239, 0)
}

.dropdown-menu ul li.menu-item,
.navigation>ul>li>ul.megamenu.sub-menu>li,
.navigation .megamenu li ul.sub-menu {
    border-color: rgba(241, 241, 241, 0)
}

.dropdown-menu ul li a.menu-link {
    color: #ffffff
}

.dropdown-menu ul li a.menu-link:hover {
    background-color: #e7f70f
}

.dropdown-menu ul>.current-menu-item>a.menu-link {
    color: #ffffff
}

.dropdown-menu ul>.current-menu-item>a.menu-link {
    background-color: #1e96fc
}

a.sidr-class-toggle-sidr-close {
    background-color: #202021
}

#sidr,
#mobile-dropdown {
    background-color: #202021
}

body .sidr a,
body .sidr-class-dropdown-toggle,
#mobile-dropdown ul li a,
#mobile-dropdown ul li a .dropdown-toggle,
#mobile-fullscreen ul li a,
#mobile-fullscreen .oceanwp-social-menu.simple-social ul li a {
    color: #ffffff
}

#mobile-fullscreen a.close .close-icon-inner,
#mobile-fullscreen a.close .close-icon-inner::after {
    background-color: #ffffff
}

body .sidr a:hover,
body .sidr-class-dropdown-toggle:hover,
body .sidr-class-dropdown-toggle .fa,
body .sidr-class-menu-item-has-children.active>a,
body .sidr-class-menu-item-has-children.active>a>.sidr-class-dropdown-toggle,
#mobile-dropdown ul li a:hover,
#mobile-dropdown ul li a .dropdown-toggle:hover,
#mobile-dropdown .menu-item-has-children.active>a,
#mobile-dropdown .menu-item-has-children.active>a>.dropdown-toggle,
#mobile-fullscreen ul li a:hover,
#mobile-fullscreen .oceanwp-social-menu.simple-social ul li a:hover {
    color: #ffffff
}

#mobile-fullscreen a.close:hover .close-icon-inner,
#mobile-fullscreen a.close:hover .close-icon-inner::after {
    background-color: #ffffff
}

/* Footer Widgets CSS */
#footer-widgets {
    background-color: #101316
}

/* Footer Bottom CSS */
#footer-bottom {
    padding: 15px 0 50px 0
}

#footer-bottom {
    background-color: #101316
}

#footer-bottom,
#footer-bottom p {
    color: #ffffff
}

/* Typography CSS */
body {
    font-family: Open Sans;
    font-size: 1.5rem
}

#top-bar-content,
#top-bar-social-alt {
    font-family: Open Sans;
    font-size: 13px
}

#site-navigation-wrap .dropdown-menu>li>a,
#site-header.full_screen-header .fs-dropdown-menu>li>a,
#site-header.top-header #site-navigation-wrap .dropdown-menu>li>a,
#site-header.center-header #site-navigation-wrap .dropdown-menu>li>a,
#site-header.medium-header #site-navigation-wrap .dropdown-menu>li>a,
.oceanwp-mobile-menu-icon a {
    font-size: 16px
}

.dropdown-menu ul li a.menu-link,
#site-header.full_screen-header .fs-dropdown-menu ul.sub-menu li a {
    font-weight: 300;
    font-size: 14px
}

.rll-youtube-player,
[data-lazy-src] {
    display: none !important;
}