.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
display: none
}

@media only screen and (max-width:960px) {
body.home #site-header.transparent-header {
top: 0 !important
}
}

body .home #site-header.transparent-header {
top: 32px
}

li#menu-item-wpml-ls-3-ko {
z-index: 9999 !important
}

#site-header.transparent-header {
z-index: 1 !important
}

/* <!-- OceanWP CSS --> */
/* General CSS */
#main #content-wrap,
.separate-layout #main #content-wrap {
padding-top: 0;
padding-bottom: 0
}

/* Top Bar CSS */
#top-bar {
padding: 8px 0 0 0
}

#top-bar-wrap,
.oceanwp-top-bar-sticky {
background-color: #202021
}

#top-bar-wrap {
border-color: rgba(241, 241, 241, 0)
}

#top-bar-content a,
#top-bar-social-alt a {
color: #999999
}

/* Header CSS */
#site-header,
.has-transparent-header .is-sticky #site-header,
.has-vh-transparent .is-sticky #site-header.vertical-header,
#searchform-header-replace {
background-color: #202021
}

#site-header.has-header-media .overlay-header-media {
background-color: rgba(0, 0, 0, 0.5)
}

#site-logo #site-logo-inner a img,
#site-header.center-header #site-navigation-wrap .middle-site-logo a img {
max-width: 94px
}

#site-navigation-wrap .dropdown-menu>li>a,
.oceanwp-mobile-menu-icon a,
#searchform-header-replace-close {
color: #ffffff
}

#site-navigation-wrap .dropdown-menu>li>a:hover,
.oceanwp-mobile-menu-icon a:hover,
#searchform-header-replace-close:hover {
color: rgba(255, 255, 255, 0.7)
}

.dropdown-menu .sub-menu,
#searchform-dropdown,
.current-shop-items-dropdown {
background-color: #202021
}

.dropdown-menu .sub-menu,
#searchform-dropdown,
.current-shop-items-dropdown {
border-color: rgba(239, 239, 239, 0)
}

.dropdown-menu ul li.menu-item,
.navigation>ul>li>ul.megamenu.sub-menu>li,
.navigation .megamenu li ul.sub-menu {
border-color: rgba(241, 241, 241, 0)
}

.dropdown-menu ul li a.menu-link {
color: #ffffff
}

.dropdown-menu ul li a.menu-link:hover {
background-color: #e7f70f
}

.dropdown-menu ul>.current-menu-item>a.menu-link {
color: #ffffff
}

.dropdown-menu ul>.current-menu-item>a.menu-link {
background-color: #1e96fc
}

a.sidr-class-toggle-sidr-close {
background-color: #202021
}

#sidr,
#mobile-dropdown {
background-color: #202021
}

body .sidr a,
body .sidr-class-dropdown-toggle,
#mobile-dropdown ul li a,
#mobile-dropdown ul li a .dropdown-toggle,
#mobile-fullscreen ul li a,
#mobile-fullscreen .oceanwp-social-menu.simple-social ul li a {
color: #ffffff
}

#mobile-fullscreen a.close .close-icon-inner,
#mobile-fullscreen a.close .close-icon-inner::after {
background-color: #ffffff
}

body .sidr a:hover,
body .sidr-class-dropdown-toggle:hover,
body .sidr-class-dropdown-toggle .fa,
body .sidr-class-menu-item-has-children.active>a,
body .sidr-class-menu-item-has-children.active>a>.sidr-class-dropdown-toggle,
#mobile-dropdown ul li a:hover,
#mobile-dropdown ul li a .dropdown-toggle:hover,
#mobile-dropdown .menu-item-has-children.active>a,
#mobile-dropdown .menu-item-has-children.active>a>.dropdown-toggle,
#mobile-fullscreen ul li a:hover,
#mobile-fullscreen .oceanwp-social-menu.simple-social ul li a:hover {
color: #ffffff
}

#mobile-fullscreen a.close:hover .close-icon-inner,
#mobile-fullscreen a.close:hover .close-icon-inner::after {
background-color: #ffffff
}

/* Footer Widgets CSS */
#footer-widgets {
background-color: #101316
}

/* Footer Bottom CSS */
#footer-bottom {
padding: 15px 0 50px 0
}

#footer-bottom {
background-color: #101316
}

#footer-bottom,
#footer-bottom p {
color: #ffffff
}

/* Typography CSS */
body {
font-family: Open Sans;
font-size: 1.5rem
}

#top-bar-content,
#top-bar-social-alt {
font-family: Open Sans;
font-size: 13px
}

#site-navigation-wrap .dropdown-menu>li>a,
#site-header.full_screen-header .fs-dropdown-menu>li>a,
#site-header.top-header #site-navigation-wrap .dropdown-menu>li>a,
#site-header.center-header #site-navigation-wrap .dropdown-menu>li>a,
#site-header.medium-header #site-navigation-wrap .dropdown-menu>li>a,
.oceanwp-mobile-menu-icon a {
font-size: 16px
}

.dropdown-menu ul li a.menu-link,
#site-header.full_screen-header .fs-dropdown-menu ul.sub-menu li a {
font-weight: 300;
font-size: 14px
}

.elementor-471 .elementor-element.elementor-element-9d6f3af img {
    width: 400px;
    height: 450px;
}

.elementor-471 .elementor-element.elementor-element-6b8a311 .elementor-button {
    color: #1E96FC;
    background-color: #02010100;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #1E96FC;
}

.elementor-471 .elementor-element.elementor-element-7d8ebef .elementor-button {
    fill: #1E96FC;
    color: #1E96FC;
    background-color: #02010100;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #1E96FC;
}